body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    background-color: #1e1f24;
}

#container{
    width: 70%;
    padding: 1rem;
    text-align: justify;
    border: 1px solid #DDD;
    margin: 0 auto;
}

#header{
    background-color: darkcyan;
    box-shadow: 0px 2px 20px 0px rgb(0, 0, 0.5);
    color: white;
    font-weight: bold;
    font-size: 20px;
    margin: 0;
    padding: 0.5em;
}

#header #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.7em;
}

#container h1{
    font-size: 25px;
    text-align: center;
    color: blueviolet;
    padding-bottom: 1.3rem;
}

#bloc {
   font-size: 18px;
   color: blue;
}

#blocc {
    font-size: 18px;
    color: violet;
 }

 #post-container{
    background-color: white;
    padding: 1em;
 }

 #header #logo {
    width: 40px;
    vertical-align: middle;
 }
 
 #footer{
    text-align: center;
    color: white;
    font-size: 15px;
    background-color: rgb(39, 137, 204, .4);
    padding: 1.2em;
 }